<div class="container">
  <div class="card border-0" style="width: 18rem;">
      <div class = "d-flax justify-content-center">
          <img class="card-img-top rounded-circle" src="..." alt="MinhaFoto">
      </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Jefferson Russo</h5>
      <p class="card-text text-center text-monospace">Eu tenho 26 anos, sou desenvolvedor frond e back, aodro programar jogos e comer um rango vegetariano :) </p>
      
      <a href="https://www.linkedin.com/in/jefferson-russo-silva-6b525a1b9/" class = "btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank"> Linkedin</a>
  
      <a href= "https://github.com/JeffersonRusso" class = "btn btn-outline-dark d-flex justify-content-center" target="_blank">Git</a>
  
    </div>
  </div>
  </div>